<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <% @recipe.errors.full_messages.each do |message| %>
        <div class="alert alert-danger" role="alert">
        	<p><%= message %></p>
        </div>
      <% end %>
    </div>
  <% end %>
<div class="col-lg-6">
  <div class="input-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
  </div>
  <div class="input-group">
    <%= f.label :cooking_time %><br>
    <%= f.text_field :cooking_time, class: "form-control", placeholder: "Cooking time" %>
  </div>
  <div class="form-group">
    <%= f.label :difficulty_level %><br>
    <%= f.select :difficulty_level, Recipe::DIFFICULTY, {}, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :food_type %><br>
    <%= f.select(:food_type_id,
    		options_from_collection_for_select(FoodType.all, :id, :name),
    		{ prompt: "Please Choose" }, class: "form-control") %>
  </div>
  <div class="form-group">
    <%= f.label :food_preference %><br>
    <%= f.select(:food_preference_id,
    		options_from_collection_for_select(FoodPreference.all, :id, :name),
    		{ prompt: 'Please Choose'}, class: "form-control") %>
  </div>
  <div class="form-group">
    <%= f.label :cuisine %><br>
    <%= f.select(:cuisine_id,
    		options_from_collection_for_select(Cuisine.all, :id, :name),
    		{ prompt: 'Please Choose' }, class: "form-control") %>
  </div>
  <div class="input-group">
    <%= f.label :ingredients %><br>
    <%= f.text_area :ingredients, class: "form-control", placeholder: "Ingredients" %>
  </div>
  <div class="input-group">
    <%= f.label :procedure %><br>
    <%= f.text_area :procedure, class: "form-control", placeholder: "Procedure" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-default"%>
  </div>
</div>
<% end %>
