<!DOCTYPE html>
<html>
<head>
  <title>CurryNation</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- Static navbar -->
	<div class="row">
		<div class="navbar navbar-static-top">
			<div class="container">
				<button type="button", class="navbar-toggle",
				 data-toggle="collapse", data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand", href="#">
					<%= image_tag "logo.jpg" %>
				</a>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="active"><%= link_to "Recipes", recipes_path %></li>
					</ul>
					<ul class="nav navbar-nav pull-right">
						<% if user_signed_in? %>
							<li><%= link_to "#{current_user.email}" %></li>
							<li class="active"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
						<% else %>
							<li><%= link_to "Login", new_user_session_path %></li>
							<li class="active"><%= link_to "SignUp", new_user_registration_path %></li>
						<% end %>
					</ul>
				</div>
				
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2">
			<% sidebar_values %>
			
			<%= form_for(:recipes, method: :get) do |f| %>
				<div class="panel panel-primary" id="panels">
					<div class="panel-heading">Food Preferences</div>
					<div class="input-group">
						<% selected = params[:food_preferences] == "0" || (!params[:food_preferences].present?) %>
						<%= radio_button_tag 'food_preferences', '0', selected %>
						All
					</div>
					<% @food_preferences.each do |fp| %>
						<div class="input-group">
							<% selected = params[:food_preferences] == "#{fp.id}" %>
							<%= radio_button_tag 'food_preferences', fp.id, selected %>
							<%= fp.name %>
						</div>
					<% end %>
					
					<div class="panel-heading">Food Types</div>
					<div class="input-group">
						<% selected = (params[:food_types] == "0") || (!params[:food_types].present?) %>
						<%= radio_button_tag 'food_types', '0', selected %>
						All
					</div>
					<% @food_types.each do |ft| %>
						<div class="input-group">
							<% selected = params[:food_types] == "#{ft.id}" %>
							<%= radio_button_tag 'food_types', ft.id, selected %>
							<%= ft.name %>
						</div>
					<% end %>
					
					<div class="panel-heading">Cuisines</div>
					<div class="input-group">
						<% selected = params[:cuisines] == "0" || (!params[:cuisines].present?) %>
						<%= radio_button_tag 'cuisines', '0', selected %>
						All
					</div>	
					<% @cuisines.each do |c| %>
						<div class="input-group">
							<% selected = params[:cuisines] == "#{c.id}" %>
							<%= radio_button_tag 'cuisines', c.id, selected %>
							<%= c.name %>
						</div>
					<% end %>
				</div>
				<%= f.submit "Filter", class: "btn btn-default" %>
			<% end %>
		</div>
		<div class="col-lg-9">
			<div class="row">
				<div class="col-lg-8"></div>
				<div class="col-lg-4">
					<%= form_for(:recipes, method: :get) do |f| %>
						<div class="input-group">
							<%= text_field_tag 'search', nil, placeholder: "Search", class: "form-control" %>
							<span class="input-group-btn">
								<%= f.submit "Search", class: "btn btn-default" %>
							</span>
						</div>
					<% end %>
				</div>
			</div>
			
			<% if notice %>
				<p class="notice"><%= notice %></p>
			<% end %>
			
			<% if alert %>
				<p class="alert"><%= alert %></p>
			<% end %>
			
			<%= yield %>
		</div>
	</div>
</body>
</html>
